@import "flex";

$paddingT: 20px;
$paddingB: 50px;
$marginT: 100px;
$marginB: 200px;
$marginR: 0px;
$marginL: 5px;



/*----index----*/
.bienvenidas{
	margin-top: $marginT;
	margin-right:$paddingT;
	margin-bottom:$marginR;
	margin-left:$marginR;
}
.bienvenidas_magia{
	margin-top:$marginR;
	margin-right:$paddingT;
	margin-bottom:$paddingB;
	margin-left:$marginR;
}
.bienvenidas_cora{
	margin-top: $paddingT;
	margin-right:$paddingT;
	margin-bottom:$paddingB;
	margin-left:$marginR;

}
.bienvenidas_amar{
	margin-top: $paddingT;
	margin-right:$paddingT;
	margin-bottom:$paddingB;
	margin-left:$marginR;

}
.conteiner_cards{
	margin: $paddingT;
}
.imagenLogo{
	margin: $paddingT;
}
.imagen_inicio{
margin-top: $paddingB;
margin-right: $marginR;
margin-bottom:$marginT;
margin-left:$marginR;
}
.conteiner_amorymagia{
	margin-top:$paddingB;
	margin-right:$marginR;
	margin-bottom:$paddingB;
	margin-left:$marginR;

}
.amano{
	margin: $marginL;
}
.amano_artesanal{
	margin: $marginL;
}
.botones{
	margin: $paddingT;
	padiding:$paddingT;
}
.productos_dest{
	padding-top: $marginR;
	padding-right: $paddingT;
	padding-bottom: $paddingB;
	padding-left: $paddingT;
}
.conteiner_destacados{
	padding: $paddingB;
}







/*----informacion----*/



.conteiner_sobrecora{
	margin: $paddingB;
}

.img_sobrecora{
	padding-top: $marginT;
	padding-right: $marginR;
	padding-bottom:$paddingT;
	padding-left: $paddingB;
}
.sobre_cora{
	padding-top:$paddingB;
}
.sobrecora_txt{
	padding:$paddingT;
}
.conteiner_sobrecora_txt{
	padding-top: $marginT;
	padding-right: $paddingT;
	padding-bottom:$paddingT;
	padding-left: $marginR;

}

.conteiner_sabias{
	padding: $paddingB;
	border: $marginT;
}
.sabias_cora{
	padding:$paddingB;
}




/*----talles----*/


.mitalle{
	margin:$paddingB;
}
.mitalle_titulos{
	margin:$paddingB;
}
.tablatalles{
	margin-top: $paddingT;
}
.imagen_talles{
	margin:$paddingT;
}

/*----contacto----*/

.conteiner_contacto{
	margin:$marginB;
}
.formulario_cora{
	width:450px;
	margin:auto;
	background:rgba (0,0,0,0.4);
	padding:10px 20px;
	box-sizing: border-box;
	margin-top: 20px;
	border-radius: 7px;

}
.cont_cora{
	text-aling: center;
	margin: 0;
	font-size:30px;
	margin-bottom: 20px;
}
.nombre_cora{
	width:100%;
	margin-bottom: 20px;
	padding:7px;
	box-sizing: border-box;
	font-size:17px;
	border:none;
}
.textarea_cora{
	min-height:100px;
	max-height:200px;
	max-width: 100%;

}
#boton{
	background: #31384A;
	color: #fff;
	padding:20px;
}
#boton:hover {
	cursor: pointer;
}


@media (max-width:480px){
	.formulario_cora{
	width:100%
	}

.amano1{
	width:200px;
	height: 300px;
}
.amano2{
	width:200px;
	height: 300px;
}
}








/*----productos----*/



.productos_cora{
	margin: $marginL;
}
.productos_titulo{
	margin:$paddingB;
}
